@font-face {
    font-family: "VCR OSD MONO";
    src: url("../fonts/VCR_OSD_MONO.ttf") format("truetype");
}

* {
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: "VCR OSD MONO", serif;
    cursor: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: none;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}