.window {
    position: absolute;
    background-color: var(--gray);
    width: 265px;
    height: 160px;
}

.window > header {
    position: absolute;
    top: 2px;
    height: 18px;
    width: calc(100% - 6px);
    background-color: var(--dark-blue);
    margin-left: -1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    box-sizing: border-box;
}

.window > header > * {
    margin-top: 2px;
    display: inline-block;
    color: var(--white);
}

.window > header > p {
    font-weight: 700;
    margin: 0 0 0 4px;
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
