// for the footer bar.

@use "shapes";

footer {
    @extend %outward;
    z-index: 255;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 24px;
}

.window-tab {
    @extend %outward;
    cursor: pointer;
    height: calc(100% - 8px);
    width: fit-content;
    padding: 4px;
    display: inline-flex;
    align-items: center;
    gap: 2px;
}
