// help with windows dragging and looking good.

@use "palette";
@use "shapes";

.window {
    @extend %outward;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 120px;
    min-height: 48px;
    box-sizing: border-box;
}

.window-header {
    background: palette.$palette-dark_blue;
    display: flex;
    padding: 2px;
    align-items: center;
    cursor: pointer;
}

.window-header > strong {
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}

.window-header > button {
    width: 16px;
    height: 14px;
    // stupid change that makes it so it works on chromium + safari
    @extend %outward;
}

// stupid change that makes it so it works on chromium + safari
.window-header > button:active {
    @extend %inward;
}

.window-header > button:nth-of-type(1) {
    margin-left: auto;
    background-image: url("/img/windows/minimize.png");
}

.window-header > button:nth-of-type(2) {
    background-image: url("/img/windows/maximize.png");
}

.window[data-maximized="yes"] > .window-header > button:nth-of-type(2) {
    background-image: url("/img/windows/unmaximize.png");
}

.window-header > button:nth-of-type(3) {
    margin-left: 2px;
    background-image: url("/img/windows/close.png");
}

.window-content {
    flex: 1 1 auto;
    display: block;
    overflow: hidden;
    min-height: 0;
}

.window-content > iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}
