// help with windows dragging and looking good.

@use "palette";
@use "shapes";

.window {
    @extend %outward;
    position: absolute;
}

.window-header {
    background: palette.$palette-dark_blue;
    display: flex;
    padding: 2px;
    align-items: center;
    cursor: pointer;
}

.window-header > strong {
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}

.window-header > button {
    width: 16px;
    height: 14px;
    // stupid change that makes it so it works on chromium + safari
    @extend %outward;
}

// stupid change that makes it so it works on chromium + safari
.window-header > button:active {
    @extend %inward;
}

.window-header > button:nth-of-type(1) {
    margin-left: auto;
    background-image: url("/static/img/windows/minimize.png");
}

.window-header > button:nth-of-type(2) {
    background-image: url("/static/img/windows/maximize.png");
}

.window[data-maximized="yes"] > .window-header > button:nth-of-type(2) {
    background-image: url("/static/img/windows/unmaximize.png");
}

.window-header > button:nth-of-type(3) {
    margin-left: 2px;
    background-image: url("/static/img/windows/close.png");
}
